

*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    background-color: #FFFFFF;
    font-family: 'Archivo', sans-serif, Arial, Helvetica;
}

/*BARRA DE INICIO*/
.principal{
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    border-color: #021D49;
  }
  .promocion{ 
    background-color: #0066BB;
    overflow: hidden;
  }
  .prom-day{
    width: 80%;
    height: 2.3em;
    float: left;
  }
  
  .msj{
    padding:.7em 4em;
    color: #021D49;
    text-align: right;
    font-size: .8em;
    font-style: bold;
  }
  
  
  .redes{
    overflow: hidden;
  }
  .redes div{
    float: left;
  }
  .redes p{
    margin-top:1em ;
    font-size:.7em;
    color: #021D49;
  
  }
  .redes ol li{
    list-style: none;
    display: inline;
  }
  
  .cabecera{
    width: 100%;
    padding: 0;
   overflow: hidden;
   
  }
  
  .contenedor{   
    float:left;
    height: 2em;
    
  }
  .enlaces{
    
    width:45%;
    text-align: center; 
  }
  
  .logo{
    width: 15%;
    text-align: center;
  }
  .cabecera .logo a img{
    width: 100%;
  }
  
  .cabecera .enlaces ol li{
    display: inline-block;
    margin-top: 0.3em;
    margin-right: 2em;
  }
  .cabecera .enlaces ol li a{  
    color: #021D49;
    font-size: .8em;
    text-decoration: none;
    font-style: bold;
  
  }
  
  .cabecera .enlaces a:hover{
    color: #F7766D;
  }
  
  .search{
    width:100%;
    height: 3em;
    
  }
  .search-container{
    margin: 20px auto;
    width:80%;
    
    height: 3em;
  }
  
  .search input[type=text] {
    margin:5px 20px 5px 50px;
    width: 50em;
    height: 3em;
    border-color:whitesmoke;
    font-size: .7em;
  }
  
  .search input[type=submit]{
    margin: 10px 0 0 0;
    padding: .1em;
    border: none;
    width: 7em;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #021D49;
  }
  .search input[type=submit]:hover{
    color: #021D49;
    background-color: #0EB8D4;
  }

/*Barra de navegacion*/

.navegacion{
    width: 100%;
    height: 2em;
    text-align: center;

}
.navegacion ol li{
    padding-top: .3em;
    display: inline-block;
    margin-right: 2em;
}

.navegacion ol li a{
    text-decoration: none;
    font-size: .7em;
    color: #021D49;
    font-style: bold;
}

.navegacion ol li a:hover{
    color: #F7766D;
}

.direcciones{
    padding-top: 6em;
width: 100%;
height: 2em;
background-color: darkgrey;
}

/*Galeria de producto*/

.product-container{
    width: 90%;
    height: 30em;
    margin:0 auto;
    overflow: hidden;
}
.product-img-galery{
    width: 30%;
    height: 30em;
    float: left;
}

.product-img-big{
    width: 70%;
    height: 30em;
    float: left;
}
.product-img{
    padding: 1em 0 0 0;
    width: 70%;
    
    float: left;
    overflow: hidden;
}

.product-img-big img{
    width: 90%;    
}
.product-cont{
    float: left;
    width: 30%;
}

.product-descripcion{
    width: 100%;
    height: 30em;

}

.product-descripcion h2{
    color: #021D49;
    text-align: left;
    font-size: 1.5em;
    padding: .5em 3em 0 0;
}

.product-descripcion p{
    margin: 2em 3em 0 0;
}

.descripcion{
    font-style: normal;
    text-align: left;
    font-size: .7em;
    padding: 2em 3em 0 0;
}

.product-descripcion-footer{
    width: 70%;
    background-color: #FDF7DC;
    border: none;
    border-radius: 10px;
}

.product-descripcion-footer a{
    text-decoration: none;
    font-size: .6em;
}
.product-descripcion-footer p{
    font-size: .6em;
    padding: .5em 0 .5em .5em;
}

.aviso{
    margin-top: 1em;
    padding-bottom: .3em;
    width: 70%;
    height: 1.5em;
    text-align: center;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: darkgrey;
}
.aviso p{
    font-size: .5em;
}
.aviso input[type=submit]{
    margin-top: 1em;
    font-style: bold;
    width: 100%;
    height: 3.5em;
    background-color: #202B39;
    color: #FFFFFF;
    font-size: .6em;
    padding: .5em;
    cursor: pointer;
}



.info-list{
    width: 100%;
    height: 25em;
    background-color: #d8d5db;
    overflow: hidden;
  }
  
  .info-sus{
    width: 20%;
    height: 25em;
    float: left;
  
  }
  .info-sus input[type=email]{
    width: 70%;
    margin:0 0 1em 1em;
  }
  
  .info-sus input[type=submit]{
    margin-left: 1em;
    width: 60%;
    background-color:#5affb0;
    border: none;
    padding: .3em ;
    color: #FFFFFF;
    border-radius: .5em;
    cursor: pointer;
  }
  
  .info-sus div img{
    width: 80%;
    margin: 3.5em 0 2em 0;
  }
  
  
  .info-container{
    background-color:#0066BB;
    height: 25em;
  
  }
  .info-col h4{
    color: #FFFFFF;
    padding: 4em 0 .5em 0;
    text-align: left;
  }
  
  .info-col ul li{
    line-height: 20pt;
    list-style: none;
  }
  .info-col ul li a{
    
    text-indent: 2em;
    text-align: center;
    text-decoration: none;
    font-size: .8em;
    color:#f3eae8;
  }
  .info-col a:hover{
    color: #FFFFFF;
  } 
  .info-col{
    width: 20%;
    height: 25em;
    background-color:#0066BB;
    float: left;
  
  }


